*{
  padding: 0%;
  margin: 0%;
}

nav {
  display: flex;
  justify-content: space-around;
    height: 100%;
    align-items: center;
  background-color: black;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  display: flex;
}

.nav-left img {
    width: 64px;
    height: auto;
    margin: 0%;
    padding: 0%;
    display: block;
    margin-top: 10px;
}

.nav-list li{
  color: white;
  letter-spacing: 3px;
  margin-left: 32px; 
}