.nav {
  display: flex;
  justify-content: space-between;
    height: 100%;
    align-items: center;
  background-color: black;
}

.nav-right {
  display: flex;
  align-items: center;

}

.nav-left img {
    width: 64px;
    height: auto;
    margin: 0%;
    padding: 0%;
    display: block;
}