/* #FF2700 
#CC1F00
#801300 */

* {
    margin: 0%;
      padding: 0%;
      font-family: jetbrains mono;
}

.banner{
  align-items: flex;
  height: 720px;
  width: 100%;
  background-image: url("../Images/Bkg\ Banner.jpg");
  background-position: center;
    background-size: cover;
}

.banner h1{
  font-size: 110px;
  padding: 110px;
  align-items: flex-start;
  margin-left: 20px;
  margin-bottom: 100px;
  color: azure;
}

.origin{
  background-color: rgb(164, 163, 163);
  padding: 10px;
  padding-right: 45px;
  margin-left: 55;
  border-radius: 75px;
  display: inline;
} 